:root {
  --bg-main: #3ab54a;
  --bg-main-body: #000;
  --bg-main-text: #fff;
} 
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  /* border: 1px solid black; */
}
html {
  scroll-behavior: smooth;
  overflow-x:hidden;
}
#mode {
  cursor: pointer;
}
a {
  color: black;
}
.ko
{
  color: var(--bg-main-text);
}
body {
  overflow-x: hidden !important;
  background-color: var(--bg-main-body);
  color: var(--bg-main-text);
  font-family: "Courier New", Courier, monospace;
}
nav {
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2pc;
}
nav div {
  display: flex;
  align-items: center;
  gap: 1pc;
}
.barraNav {
  display: flex;
  align-items: center;
  gap: 1pc;
}
.mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 3pc;
  font-size: 3pc;
  height: 100vh;
  /* background-color: yellow; */
  font-family: "
  ", cursive;
}
.mensaje div {
  display: flex;
  align-items: center;
  gap: 1pc;
}
.one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tow nav {
  width: 95.1%;

}
.tow nav input {
  border: none;
  padding: 0.4pc;
  border-radius: 4px;
}
.izquierda {
  width: 50%;
  height: 100vh;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1pc;
  gap: 2pc;
}
.izquierda h2 {
  font-family: "Tektur", cursive;
}
.derecha {
  width: 50%;
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#Datos {
  display: grid;
  gap: 1pc;
  grid-template-columns: repeat(3, 1fr);
}
.character {
  background-color: #232323;
  color: white;
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  padding: 1pc 0.6pc;
  gap: 3pc;
  border-radius: 5px;
}
.character img {
  width: 10pc;
  border-radius: 50%;
}
.containerDatos {
  padding: 0 1pc;
  margin-bottom: 1pc;
}

footer {
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1pc;
}

footer div {
  display: flex;
  align-items: center;
  gap: 1pc;
}

#btnScrollToTop {
  cursor: pointer;
}
.pages{
  display: flex;
  align-items:center;
  gap: 1pc;
  margin: 1pc 0
}
.pages button {
  width: 2pc;
  height: 2pc;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 868px) {
  #Datos {
    grid-template-columns: repeat(2, 1fr);
  }
  .one {
    flex-direction: column;
  }
}

@media screen and (max-width: 568px) {
  #Datos {
    grid-template-columns: repeat(1, 1fr);
  }
  .one {
    flex-direction: column;
  }
  .mensaje {
    height: 100vh;
  }
  .mensaje h1{
    font-size: 3pc;
  }
  .mensaje p{
      font-size: 1pc;
  }
  .izquierda {
    width: 94%;
  }
  .derecha {
    width: 100%;
    height: 52vh;
  }
  nav span {
    display: none;
  }
  .tow {
    width: 100%;
    /* background: pink; */
  }
  .one:nth-child(3){
      flex-direction: column-reverse;
  }
}
